    // NAVBAR
    nav {
        .navbar-brand {
        font-size: 36px;
        font-weight: 700;
        font-family: "Raleway", sans-serif;
        color: $secondary-color;
        }
    
        .navbar-nav {
        .nav-link {
            font-size: 18px;
            font-weight: 500;
            color: $secondary-color;
            transition: color 0.3s ease-in-out;
    
            &:hover {
            color: #110c0a;
            }
        }
        }
    
        .navbar-toggler {
        color: $secondary-color;
        border: none;
        outline: none;
        box-shadow: none;
    
        &:focus {
            outline: none;
            box-shadow: none;
        }
        }
    }